<div class="popup js-popup">
    <div class="popup__wrapper js-popup-wrapper">
        <button class="popup__close-btn js-close-popup" type="button" area-label="Закрыть окно"></button>
        <h2>О вашем заказе</h2>
        <div>Ваше имя: {{ this.name }}</div>
        <div>Контактный номер: {{ this.phone }}</div>
        <div>Направление путешествия: {{ this.direction }}</div>
        <div>Дата: {{ this.date }}</div>
        <div>
            {{#if this.timeToA}}
                Время (по московскому часовому поясу): {{ this.timeToA }}</div>
            {{/if}}
        <div>
            {{#if this.timeToB}}
                Время обратного пути (по московскому часовому поясу): {{ this.timeToB }}
            {{/if}}
        </div>
        <div>Количество блетов: {{ this.countOfTickets }}</div>

        <div>Благодарим вас за покупку!</div>
    </div>
</div>
